<form action="/user/cv" method="POST" enctype="multipart/form-data">
    <label for="">Facebook</label>
    <input type="url" name="facebook" value="{{personal.socialMedia.facebook}}">
    <label for="">linkedin</label>
    <input type="url" name="linkedin" value="{{personal.socialMedia.linkedin}}">
    <label for="">Website/portifolio</label>
    <input type="url" name="sitePortifolio" value="{{personal.socialMedia.sitePortifolio}}">


    <label for="">Professional resume</label>
    

    <label for="">Education</label>
    <label for="">Degree</label>
    <input type="text" name="degree" value="{{skills.education.degree}}">
    <label for="">Institution</label>
    <input type="text" name="institution" value="{{skills.education.institution}}">
    <label for="">Field of study</label>
    <input type="text" name="fieldOfStudy" value="{{skills.education.fieldOfStudy}}">
    <label for="">Start Date</label>
    <input type="date" name="educationStartDate" value="{{skills.education.period.startDate}}">
    <label for="">End Date</label>
    <input type="date" name="educationEndDate" value="{{skills.education.period.endDate}}">

    <label for="">Languages</label>
    <label for="">Idiom</label>
    <input type="text" name="idiom" value="{{languages.idiom}}">
    <label for="" name="">level</label>
    <input type="text" name="level" value="{{languages.level}}">

    <label for="" name="">Professional experince</label>
    <label for="" name="">Company name</label>
    <input type="text" name="companyName" value="{{experiences.companyName}}">
    <label for="" name="">Occupation</label>
    <input type="text" name="occupation" value="{{experiences.occupation}}">
    <label for="" name="">Start date</label>
    <input type="date" name="experienceStartDate" value="{{experiences.period.startDate}}">
    <label for="" name="">End date</label>
    <input type="date" name="experienceEndDate" value="{{experiences.period.endDate}}">
    <label for="" name="">Description</label>
    <input type="text" name="description" value="{{experiences.description}}">

    <label for="" name="">Username</label>
    <input type="text" name="username" value="{{user.username}}">

    <label for="" name="">Password</label>
    <input type="password" name="password">

    <label for="" name="">Confirm password</label>
    <input type="password" name="ConfirmPassword">


    <button type="submit">Save</button>

    {{message}}
</form>


<script>
    window.onload = () => {
        switch (document.getElementById('msHidden').value) {
            case 'single':
                document.getElementsByClassName("msoption")[0].selected = true;
                break;
            case 'married':
                document.getElementsByClassName("msoption")[1].selected = true;
                break;
            case 'divorced':
                document.getElementsByClassName("msoption")[2].selected = true;
                break;
        }

    }
</script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/stylesheets/profile.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
    <form method="post" action="/user/profile" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src={{user.imgPath}} alt="">
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="photo">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{user.personal.name}} {{user.personal.lastName}}
                    </h5>
                    <h6>
                        {{user.experiences.occupation}}
                    </h6>
                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="education-tab" data-toggle="tab" href="#education" role="tab"
                                aria-controls="education" aria-selected="false">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="experiences-tab" data-toggle="tab" href="#experiences" role="tab"
                                aria-controls="experiences" aria-selected="false">Experiences</a>
                        </li>
                    </ul>
                </div>
            </div>
            {{#if flag}}
            <div class="col-md-2">
                <button type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"><a
                        href="/user/cv">Edit Profile</a></button>
            </div>
            {{/if}}
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>MENU</p>
                    <a href="/user/profile/{{user._id}}/processes">Processes</a><br />
                    <a href="/user/profile/{{user._id}}/performance">Performance</a><br />
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br />
                    <a href="">Web Developer</a><br />
                    <a href="">WordPress</a><br />
                    <a href="">WooCommerce</a><br />
                    <a href="">PHP, .Net</a><br />
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.user.username}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Full name</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="name" value="{{personal.name}}"><input
                                    class="form-control" type="text" name="lastName" value="{{personal.lastName}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Date of Birth</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="date" name="dateOfBirth"
                                    value="{{personal.dateOfBirth}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Marital Status</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" id="msHidden" type="hidden"
                                    value="{{personal.maritalStatus}}">
                                <select class="form-control" name="maritalStatus" id="">
                                    <option class="msoption" value="single">Single</option>
                                    <option class="msoption" value="married">Married</option>
                                    <option class="msoption" value="divorced">Divorced</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>CPF</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="cpf" value="{{personal.cpf}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nationality</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="nationality"
                                    value="{{personal.nationality}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="email" name="email" value="{{personal.email}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="number" name="phone" value="{{personal.phone}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Telephone</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="number" name="telephone"
                                    value="{{personal.telephone}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Street</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="street" value="{{adress.street}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Number</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="number" name="number" value="{{adress.number}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>District</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="district" value="{{adress.district}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>City</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="city" value="{{adress.city}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>State</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="state" value="{{adress.state}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Country</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="country" value="{{adress.country}}"> </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Zip code</label>
                            </div>
                            <div class="col-md-6">
<input type="number" name="zipCode" value="{{adress.zipCode}}">                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Degree</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.skills.education.degree}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Institution</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.skills.education.institution}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Field of study</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.skills.education.fieldOfStudy}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Idiom</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.languages.idiom}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Level</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.languages.level}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Period</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.skills.education.period.startDate}} - {{user.skills.education.period.endDate}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="experiences" role="tabpanel" aria-labelledby="experiences-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Company Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.experiences.companyName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Occupation</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.experiences.occupation}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Period</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.experiences.period.startDate}} - {{user.experiences.period.endDate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Description</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.experiences.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>