{{message}}
<script>
    window.onload = () => {
        switch (document.getElementById('msHidden').value) {
            case 'single':
                document.getElementsByClassName("msoption")[0].selected = true;
                break;
            case 'married':
                document.getElementsByClassName("msoption")[1].selected = true;
                break;
            case 'divorced':
                document.getElementsByClassName("msoption")[2].selected = true;
                break;
        }

    }
</script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/stylesheets/profile.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container emp-profile">
    <form method="POST" action="/user/cv" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{imgPath}}" >
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="photo">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="education-tab" data-toggle="tab" href="#education" role="tab"
                                aria-controls="education" aria-selected="false">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="experiences-tab" data-toggle="tab" href="#experiences" role="tab"
                                aria-controls="experiences" aria-selected="false">Experiences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="socialMedia-tab" data-toggle="tab" href="#socialMedia" role="tab"
                                aria-controls="socialMedia" aria-selected="false">Social Media</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label>
                            </div>
                            <hr>
                            <div class="col-md-6">
                                <p>{{user.username}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Full name</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="name" value="{{personal.name}}"><input
                                    class="form-control" type="text" name="lastName" value="{{personal.lastName}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Date of Birth</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="date" name="dateOfBirth"
                                    value="{{personal.dateOfBirth}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Marital Status</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" id="msHidden" type="hidden"
                                    value="{{personal.maritalStatus}}">
                                <select class="form-control" name="maritalStatus" id="">
                                    <option class="msoption" value="single">Single</option>
                                    <option class="msoption" value="married">Married</option>
                                    <option class="msoption" value="divorced">Divorced</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>CPF</label>
                            </div>
                            <div class="col-md-6">
                                <input disabled class="form-control" type="text" name="cpf" value="{{personal.cpf}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nationality</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="nationality"
                                    value="{{personal.nationality}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="email" name="email" value="{{personal.email}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="number" name="phone" value="{{personal.phone}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Telephone</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="number" name="telephone"
                                    value="{{personal.telephone}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Street</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="street" value="{{adress.street}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Number</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="number" name="number" value="{{adress.number}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>District</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="district" value="{{adress.district}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>City</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="city" value="{{adress.city}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>State</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="state" value="{{adress.state}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Country</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="country" value="{{adress.country}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Zip code</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="number" name="zipCode" value="{{adress.zipCode}}">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Degree</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="degree"
                                    value="{{skills.education.degree}}"> </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Institution</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="institution"
                                    value="{{skills.education.institution}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Field of study</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="fieldOfStudy"
                                    value="{{skills.education.fieldOfStudy}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Period</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="date" name="educationstartDate"
                                    value="{{skills.education.period.startDate}}">
                                <input class="form-control" type="date" name="educationEndDate"
                                    value="{{skills.education.period.endDate}}">

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Idiom</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="idiom" value="{{languages.idiom}}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Level</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="level" value="{{languages.level}}">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="experiences" role="tabpanel" aria-labelledby="experiences-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Company Name</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="companyName"
                                    value="{{experiences.companyName}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Occupation</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="occupation"
                                    value="{{experiences.occupation}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Period</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="date" name="experienceStartDate"
                                    value="{{experiences.period.startDate}}"> <input class="form-control" type="date"
                                    name="experienceEndDate" value="{{experiences.period.endDate}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Description</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="description"
                                    value="{{experiences.description}}">

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="socialMedia" role="tabpanel" aria-labelledby="socialMedia-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Facebook</label>
                            </div>
                            <div class="col-md-6">
                                <input type="url" name="facebook" value="{{personal.socialMedia.facebook}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>LinkedIn</label>
                            </div>
                            <div class="col-md-6">
                                <input type="url" name="linkedin" value="{{personal.socialMedia.linkedin}}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Website</label>
                            </div>
                            <div class="col-md-6">
                                <input type="url" name="sitePortifolio" value="{{personal.socialMedia.sitePortifolio}}">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <button id="save" class="btn btn-primary" type="submit">Save</button>
    </form>
</div>