<link rel="stylesheet" href="../../stylesheets/companyProfile.css">

<div id="content">
<div id="company-profile-container">
<form action="/company/profile/save" method="POST" enctype="multipart/form-data">
<div id="first-row-form">
<div id="img-selector-container">
  {{#with company}}
  {{#if logo}}
    <img id="profile-company-logo" src="{{logo}}" alt="{{name}}'s logo"/>
  {{else}}
    <img id="profile-company-logo" src="../../images/nologo.png" alt="No logo available"/>
  {{/if}}
  <label class="link-btn-little wb" id="logo-label" for="logo">Logo</label>
  <input hidden id="profile-company-logo-selector" type="file" name="logo" accept=".jpg, .jpeg, .png" />
</div>
<div id="main-info-container">
  {{#if username}}
  <input type="text" name="name" value="{{username}}" disabled/>
  {{/if}}
  <input type="text" name="name" placeholder="Name" value="{{name}}" required/>
  <input type="text" name="ein" placeholder="Employer Identification Number" value="{{ein}}" required/>
  <input type="text" name="email" placeholder="E-mail" value="{{email}}" required/>
</div>
</div>

<div id="second-row-form">
  <h2>Adress</h2>
  <div></div>
  <div class="company-profile-adress">
    <input type="text" name="street" placeholder="Street" value="{{address.street}}" />
    <input type="number" name="number" placeholder="Number" value="{{address.number}}" />
  </div>
  <div class="company-profile-adress">
    <input type="text" name="district" placeholder="District" value="{{address.district}}" />
    <input type="text" name="city" placeholder="City" value="{{address.city}}" />
  </div>
  <div class="company-profile-adress">
    <input type="text" name="state" placeholder="State" value="{{address.state}}" />
    <input type="text" name="country" placeholder="Country" value="{{address.country}}" />
  </div>
  <div id="profile-btn-container">
    <div class="company-profile-adress-btn">
      <input class="link-btn pb" type="submit" value="Save" />
      <a class="link-btn-little wb" style="width: 200px" href="/company/profile/credentials">Change password</a>
    </div>
  </div>
</div>
{{/with}}

{{#if message}}
<p class="errorMessage">{{message}}</p>
{{/if}}
</form>
</div>
</div>

<script>
  document.getElementById('logo-label').addEventListener('mouseup', () => {
    document.getElementById('profile-company-logo-selector').click();
  });
</script>